@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.home {
    margin-top: -80px; /* Compensa o padding-top do main para a seção hero */
    padding-top: 0; /* Remove o padding apenas da seção home */
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('/src/assets/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h2 {
    font-size: 3rem;
    
}

.hero h3 {
    font-size: 2rem;
    color: var(--primary-color);
}

.cta-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light-color);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cta-button:hover {
    transform: scale(1.05);
}

